<%- include('./partials/header.ejs'); %>
    <%- include('./partials/tabs.ejs'); %>

    <form method="POST" action="">
        <div class="form">
            <label for="adminCode">Enter Admin Code</label>
            <input type="password" id="adminCode" placeholder="" name="adminCode" required value = <%= undefined === enteredCode ? '' : enteredCode %>>
            <% if (errors) { %>
                <p class="errorMessage">
                    <%=errors.errors[0].msg%>
                </p>
            <% } %>
            <button type="sumbit">Submit</button>
        </div>
    </form>
<%- include('./partials/footer.ejs'); %>