<%- include('./partials/header.ejs'); %>
    <%- include('./partials/tabs.ejs'); %>

    <div id="main">
        <% if (user) { %>
            <div id="newPost">
                <textarea id="message" type="text" rows="3" placeholder="What's on your mind"></textarea>
                <button id="postButton">Post</button>
            </div>
        <% } %>

        <!-- <ul>
            <% for (let post of posts) { %>
                <li>
                    <p><%= post.user.firstName %></p>
                    <p><%= post.user.lastName %></p>
                    <p><%= post.user.username %></p>
                    <p><%= post.post %></p>
                    <p><%= post.timeStamp %></p>
                </li>
            <% } %>
        </ul>  -->

        <ul id="posts">
            <% for (let post of posts){ %>
                <li>
                    <div id="postHeader">
                        <p id="name"><%= post.user.fullName %></p>
                        <p id="usernameDisplay">@<%= post.user.username %></p>
                        <p id="time"><span><%= post.timeStamp %></span></p>
                    </div>
                    <p id="post">
                        <%= post.post %>
                    </p>
                </li>
            <% } %>
        </ul>


    </div>

<%- include('./partials/footer.ejs'); %>